In [2]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
import seaborn as sns

In [9]:
data_wybory = {
    'powiat': ['Powiat1', 'Powiat2', 'Powiat3'],
    'PiS_2015': [40, 35, 30],
    'KO_2015': [30, 40, 35],
    'PSL_2015': [15, 10, 20],
    'PiS_2019': [45, 38, 32],
    'KO_2019': [25, 42, 38],
    'PSL_2019': [18, 12, 22],
    'PiS_2023': [42, 36, 28],
    'KO_2023': [28, 38, 34],
    'PSL_2023': [20, 15, 25],
}

# Przykładowe dane dla ramki wynagrodzeń
data_wynagrodzenia = {
    'powiat': ['Powiat1', 'Powiat2', 'Powiat3'],
    'wynagrodzenie_2015': [5000, 5500, 6000],
    'wynagrodzenie_2019': [5200, 5600, 6100],
    'wynagrodzenie_2023': [5300, 5800, 6200],
}

df_wybory = pd.DataFrame(data_wybory)
df_wynagrodzenia = pd.DataFrame(data_wynagrodzenia)

In [13]:
parties=['PiS', 'KO', 'PSL', 'Lewica', 'Konfederacja', 'Mniejszość niem.'] 
count=1

In [14]:
years_wybory = set()
for col in df_wybory.columns:
    if col.startswith(tuple(parties)):
        year = col.split('_')[-1]
        years_wybory.add(year)

# Wydobywanie roku z nazw kolumn dla wynagrodzeń
years_wynagrodzenia = set()
for col in df_wynagrodzenia.columns:
    if col.startswith('wynagrodzenie_'):
        year = col.split('_')[-1]
        years_wynagrodzenia.add(year)

In [17]:
df_merged = pd.merge(df_wybory, df_wynagrodzenia, on='powiat')

In [18]:
df_merged

,powiat,PiS_2015,KO_2015,PSL_2015,PiS_2019,KO_2019,PSL_2019,PiS_2023,KO_2023,PSL_2023,wynagrodzenie_2015,wynagrodzenie_2019,wynagrodzenie_2023
0,Powiat1,40,30,15,45,25,18,42,28,20,5000,5200,5300
1,Powiat2,35,40,10,38,42,12,36,38,15,5500,5600,5800
2,Powiat3,30,35,20,32,38,22,28,34,25,6000,6100,6200

In [10]:
df_wynagrodzenia

    powiat  wynagrodzenie_2015  wynagrodzenie_2019  wynagrodzenie_2023
0  Powiat1                5000                5200                5300
1  Powiat2                5500                5600                5800
2  Powiat3                6000                6100                6200

In [11]:
df_wybory

,powiat,PiS_2015,KO_2015,PSL_2015,PiS_2019,KO_2019,PSL_2019,PiS_2023,KO_2023,PSL_2023
0,Powiat1,40,30,15,45,25,18,42,28,20
1,Powiat2,35,40,10,38,42,12,36,38,15
2,Powiat3,30,35,20,32,38,22,28,34,25

In [6]:
df_merged = pd.merge(df_wybory, df_wynagrodzenia, on=['powiat', 'rok'])

In [7]:
df_merged

,powiat,rok,PiS_2015,KO_2015,PSL_2015,PiS_2019,KO_2019,PSL_2019,PiS_2023,KO_2023,PSL_2023,wynagrodzenie
0,Powiat1,2015,40,30,15,45,25,18,42,28,20,5000
1,Powiat2,2019,35,40,10,38,42,12,36,38,15,5500
2,Powiat3,2023,30,35,20,32,38,22,28,34,25,6000

In [ ]:
# 2. Posortuj dane według łącznej liczby oddanych głosów (malejąco)
df_merged['suma_glosow'] = df_merged[[f'{party}_{year}' for party in parties]].sum(axis=1)
df_sorted = df_merged.sort_values(by='suma_glosow', ascending=False)

In [11]:
df_b = pd.read_excel('data/bezrobocie.xlsx',sheet_name='DANE')
df_2015 = pd.read_csv('data/wybory_sejm_2015.csv')
df_2019 = pd.read_csv('data/wybory_sejm_2019.csv')
df_2023 = pd.read_csv('data/wybory_sejm_2023.csv')
df_w = pd.read_excel('data/wynagrodzenia.xlsx',sheet_name='DANE')

In [12]:
df_w = df_w.loc[(df_w['Nazwa'].str.startswith('Powiat')) & (df_w['Wyszczególnienie'].str.startswith('ogółem')) &(df_w['Rok'].isin([2015, 2019, 2023]))]

In [22]:
df_w

,Kod,Nazwa,Wyszczególnienie,Rok,Wartosc,Jednostka miary,Atrybut
223,11212001000,Powiat bocheński,ogółem,2015,3464.39,zł,
227,11212001000,Powiat bocheński,ogółem,2019,4289.47,zł,
265,11212006000,Powiat krakowski,ogółem,2015,4204.13,zł,
269,11212006000,Powiat krakowski,ogółem,2019,5514.71,zł,
307,11212008000,Powiat miechowski,ogółem,2015,3189.73,zł,
...,...,...,...,...,...,...,...
20681,71427306000,Powiat grójecki,ogółem,2019,4854.27,zł,
20719,71427328000,Powiat sochaczewski,ogółem,2015,4016.39,zł,
20723,71427328000,Powiat sochaczewski,ogółem,2019,5098.89,zł,
20761,71427338000,Powiat żyrardowski,ogółem,2015,4003.47,zł,
20765,71427338000,Powiat żyrardowski,ogółem,2019,4745.14,zł,

In [20]:
df_b = df_b.loc[(df_b['Nazwa'].str.startswith('Powiat')) & (df_b['Wskaźniki'].str.startswith('stopa bezrobocia rejestrowanego')) & (df_b['Rok'].isin([2015, 2019, 2023])) & (df_b['Miesiące'].isin(['styczeń', 'luty', 'marzec', 'kwiecień', 'maj', 'czerwiec'])) ]

In [24]:
df_b

,Kod,Nazwa,Miesiące,Wskaźniki,Rok,Wartosc,Jednostka miary,Atrybut
628,201000,Powiat bolesławiecki,styczeń,stopa bezrobocia rejestrowanego,2015,9.7,%,
632,201000,Powiat bolesławiecki,styczeń,stopa bezrobocia rejestrowanego,2019,4.1,%,
636,201000,Powiat bolesławiecki,styczeń,stopa bezrobocia rejestrowanego,2023,3.4,%,
654,201000,Powiat bolesławiecki,luty,stopa bezrobocia rejestrowanego,2015,10,%,
658,201000,Powiat bolesławiecki,luty,stopa bezrobocia rejestrowanego,2019,4.2,%,
...,...,...,...,...,...,...,...,...
123664,3263000,Powiat m. Świnoujście,maj,stopa bezrobocia rejestrowanego,2019,3.7,%,
123668,3263000,Powiat m. Świnoujście,maj,stopa bezrobocia rejestrowanego,2023,4.1,%,
123686,3263000,Powiat m. Świnoujście,czerwiec,stopa bezrobocia rejestrowanego,2015,6.3,%,
123690,3263000,Powiat m. Świnoujście,czerwiec,stopa bezrobocia rejestrowanego,2019,3.5,%,
123694,3263000,Powiat m. Świnoujście,czerwiec,stopa bezrobocia rejestrowanego,2023,4,%,

In [8]:
df_w

,Kod,Nazwa,Wyszczególnienie,Rok,Wartosc,Jednostka miary,Atrybut
210,11212001000,Powiat bocheński,ogółem,2002,1880.68,zł,
211,11212001000,Powiat bocheński,ogółem,2003,1933.21,zł,
212,11212001000,Powiat bocheński,ogółem,2004,1987.96,zł,
213,11212001000,Powiat bocheński,ogółem,2005,2016.51,zł,
214,11212001000,Powiat bocheński,ogółem,2006,2173.19,zł,
...,...,...,...,...,...,...,...
20785,71427338000,Powiat żyrardowski,przeciętne miesięczne wynagrodzenia brutto w r...,2018,93.8,%,
20786,71427338000,Powiat żyrardowski,przeciętne miesięczne wynagrodzenia brutto w r...,2019,91.6,%,
20787,71427338000,Powiat żyrardowski,przeciętne miesięczne wynagrodzenia brutto w r...,2020,92.6,%,
20788,71427338000,Powiat żyrardowski,przeciętne miesięczne wynagrodzenia brutto w r...,2021,94.1,%,
20789,71427338000,Powiat żyrardowski,przeciętne miesięczne wynagrodzenia brutto w r...,2022,95.5,%,

In [ ]:
df3_dopcol = [
       'Nie wykorzystano kart do głosowania',
       'Liczba wyborców głosujących przez pełnomocnika',
       'Liczba wyborców, którym wysłano pakiety wyborcze',
       'Liczba otrzymanych kopert zwrotnych',
       'Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu',
       'Liczba kopert zwrotnych, w których oświadczenie nie było podpisane',
       'Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania',
       'Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania',
       'Liczba kopert na kartę do głosowania wrzuconych do urny',
       'W tym liczba kart wyjętych z kopert na kartę do głosowania',
       'Liczba kart nieważnych', 'Liczba kart ważnych',
       'W tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów z różnych list',
       'W tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata',
       'W tym z powodu postawienia znaku „X” wyłącznie obok nazwiska kandydata na liście, której rejestracja została unieważniona',
       'KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19',
       'KOMITET WYBORCZY AKCJA ZAWIEDZIONYCH EMERYTÓW RENCISTÓW - ZPOW-601-21/19',
       'KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19',
       'KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19',
       'KOMITET WYBORCZY PRAWICA - ZPOW-601-20/19',
       'KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19',
       'KOMITET WYBORCZY SKUTECZNI PIOTRA LIROYA-MARCA - ZPOW-601-17/19',
       'KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19',
       'KOMITET WYBORCZY WYBORCÓW KOALICJA BEZPARTYJNI I SAMORZĄDOWCY - ZPOW-601-10/19',
       'KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19']

In [59]:
df_3.columns

Index(['Kod TERYT', 'Gmina', 'Powiat', 'Województwo',
       'Komisja otrzymała kart do głosowania',
       'Liczba wyborców uprawnionych do głosowania',
       'Nie wykorzystano kart do głosowania',
       'Liczba wyborców, którym wydano karty do głosowania',
       'Liczba wyborców głosujących przez pełnomocnika',
       'Liczba wyborców głosujących na podstawie zaświadczenia o prawie do głosowania',
       'Liczba wyborców, którym wysłano pakiety wyborcze',
       'Liczba otrzymanych kopert zwrotnych',
       'Liczba kopert zwrotnych, w których nie było oświadczenia o osobistym i tajnym oddaniu głosu',
       'Liczba kopert zwrotnych, w których oświadczenie nie było podpisane',
       'Liczba kopert zwrotnych, w których nie było koperty na kartę do głosowania',
       'Liczba kopert zwrotnych, w których znajdowała się niezaklejona koperta na kartę do głosowania',
       'Liczba kopert na kartę do głosowania wrzuconych do urny',
       'Liczba kart wyjętych z urny',
       'W tym liczba kart wyjętych z kopert na kartę do głosowania',
       'Liczba kart nieważnych', 'Liczba kart ważnych',
       'Liczba głosów nieważnych',
       'W tym z powodu postawienia znaku „X” obok nazwiska dwóch lub większej liczby kandydatów z różnych list',
       'W tym z powodu niepostawienia znaku „X” obok nazwiska żadnego kandydata',
       'W tym z powodu postawienia znaku „X” wyłącznie obok nazwiska kandydata na liście, której rejestracja została unieważniona',
       'Liczba głosów ważnych oddanych łącznie na wszystkie listy kandydatów',
       'KOALICYJNY KOMITET WYBORCZY KOALICJA OBYWATELSKA PO .N IPL ZIELONI - ZPOW-601-6/19',
       'KOMITET WYBORCZY AKCJA ZAWIEDZIONYCH EMERYTÓW RENCISTÓW - ZPOW-601-21/19',
       'KOMITET WYBORCZY KONFEDERACJA WOLNOŚĆ I NIEPODLEGŁOŚĆ - ZPOW-601-5/19',
       'KOMITET WYBORCZY POLSKIE STRONNICTWO LUDOWE - ZPOW-601-19/19',
       'KOMITET WYBORCZY PRAWICA - ZPOW-601-20/19',
       'KOMITET WYBORCZY PRAWO I SPRAWIEDLIWOŚĆ - ZPOW-601-9/19',
       'KOMITET WYBORCZY SKUTECZNI PIOTRA LIROYA-MARCA - ZPOW-601-17/19',
       'KOMITET WYBORCZY SOJUSZ LEWICY DEMOKRATYCZNEJ - ZPOW-601-1/19',
       'KOMITET WYBORCZY WYBORCÓW KOALICJA BEZPARTYJNI I SAMORZĄDOWCY - ZPOW-601-10/19',
       'KOMITET WYBORCZY WYBORCÓW MNIEJSZOŚĆ NIEMIECKA - ZPOW-601-15/19'],
      dtype='object')